<a href="https://colab.research.google.com/github/amrrahman1/Average-Height-Excercise/blob/main/Copy_of_Average_height.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/athleteEventsNoPersonal.csv'

In [4]:
df = pd.read_csv(filename)

In [26]:
df.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [6]:
#1. Load this dataset and explore it! Answer the following questions:
#(a). How many rows?
len(df)

40616

In [7]:
#(b)How many columns?
len(df.columns)

12

In [8]:
# a&b togeather (diffrent method)
df.shape

(40616, 12)

In [9]:
# (c)
#Which columns have missing values? (Why do think there are there so many null values in the Medals column?)
#Answer : There are so many null valuses in the medal columns because there was no medal won.
df.isnull().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [10]:
# (D) How many entries correspond to the city of London?
london_filter =df['City']=='London'

In [11]:
# Answer : no od entries is 40616
len(london_filter)

40616

In [12]:
#   e. What age is the youngest athlete in our sample data?  Hint: use min()
# Answer is 11 years old
df['Age'].min()

11.0

In [27]:
#2. Create filters to find out:
#(a) How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset? 
# Answer : 6
tug_war_sweden = df.loc[(df.Team == 'Sweden') & (df.Sport=="Tug-Of-War")]
len(tug_war_sweden)

6

In [14]:
# b. How many Gold medals were awarded to athletes who were over 40 years old?
age_filter = df['Age'] > 40
medal_filter = df['Medal'] == 'Gold'
new_filter =df.loc[age_filter & medal_filter] 
new_filter['Medal'].count()

66

In [15]:
#3. Determine the average height of:
#  a. All rows included.
df['Height'].mean()

175.3811165585956

In [16]:
# b. All rows included, but grouped by Event.
df_group_by_event = df.groupby('Event')
df_group_by_event['Height'].mean()

Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64

In [17]:
#  c. Bonus
df['ID'].value_counts

<bound method IndexOpsMixin.value_counts of 0             5
1             5
2             5
3             5
4             5
          ...
40611    135567
40612    135570
40613    135570
40614    135571
40615    135571
Name: ID, Length: 40616, dtype: int64>

In [18]:
one_per_athlete = df.drop_duplicates(subset = 'ID', keep = 'first')
one_per_athlete['Height'].mean()

176.31818479042698